.main {
  min-height: 100%;
  width: auto;
  position: relative;
  overflow: visible;
  height: min-content;
  display: flex;
  flex-flow: column nowrap;
  place-content: center flex-start;
  align-items: center;
  gap: 80px;
  padding: 0px;
  background-color: rgb(0, 0, 0);
}
